{{>head}}
{{>navbar}}

<div class="container">
    <div class="row pad">
        <div class="col-md-8">
            <h1>HOLA A TODOS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid amet asperiores commodi cupiditate eos, explicabo, incidunt laboriosam, magnam natus nobis non quam quasi recusandae saepe suscipit totam vero voluptate?</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/1.jpg" class="img-thumbnail" alt="Responsive image">
        </div>
    </div>
</div>

{{>footer}}